<div class="chess-user clearfix borT1 pl10 pr10 pb5 pt5" v-for="_userlist,index in userlist">
	<img class="title block fl mr10" :src="_userlist.titleSrc" alt="title">
	<div class="user-details block fl">
		<p class="name col-1b4175 fz14">
			<span>{{_userlist.name}}</span>
			<img class="certification" src="/images/certification.jpg">
		</p>
		<p class="grade fz8 col-7e7e7e">段位：{{_userlist.level}}段</p>
	</div>
	<div class="waring block fl" v-if="_userlist.tiwenQuery">
		<p>
			提问需要支付
			<br />
			<span class="col-e09e00">{{_userlist.tiwenQuery.tili}}</span>体力值
		</p>
	</div>
	<div
		class="heart block fr mr10"
		v-if="_userlist.guanzhu!=undefined"
		:class="{select:_userlist.guanzhu}"
	>
		<span>{{_userlist.guanzhu?"已关注":"未关注"}}</span>
	</div>
	<div class="btn block fr mfr10 fz12 none">
		<button class="off inline-block none">邀请对弈</button>
		<button class="on inline-block">邀请对弈</button>
	</div>
	<div class="btn block fr col-7e7e7e none">马上回来</div>
	<div class="num block fr col-7e7e7e none">10</div>
	<p
		v-if="_userlist.userStatus"
		class="userStatus block pr10 fr fz12"
		:class="{'col-e09e00':_userlist.statusDisabled,'col-efefef':!_userlist.statusDisabled}"
	>
		{{_userlist.userStatus}}
	</p>
	<div
		class="fr user_paihang col-eb428a"
		:class="{
			['back-eb428a']:index===0,
			['col-eb428a']:index===0,
			['back-ffb400']:index===1,
			['col-ffb400']:index===1,
			['back-42a6eb']:index===2,
			['col-42a6eb']:index===2,
			['back-bebebe']:index>2,
			['col-bebebe']:index>2
		}"
		v-if="_userlist.paiahng"

	>
		<img src="/images/paihangbang_bg.png" alt="">
		<p class="paihangNum">{{index}}</p>
	</div>
</div>









