* {
  margin: 0;
  padding: 0;
  border: none;
}
ul {
  list-style: none;
}
img {
  border: none;
}
a {
  text-decoration: none;
}
html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
html {
  font-size: 62.5%;
}

/********************字体*************************/
.fz0 {
  font-size: 0rem;
}
.fz8 {
  font-size: .8rem;
}
.fz10 {
  font-size: 1rem;
}
.fz12 {
  font-size: 1.2rem;
}
.fz14 {
  font-size: 1.4rem;
}
.fz16 {
  font-size: 1.6rem;
}
.fz18 {
  font-size: 1.8rem;
}
.fz10 {
  font-size: 1.0rem;
}
.fz22 {
  font-size: 2.2rem;
}
.fz26 {
  font-size: 2.6rem;
}
.fz30 {
  font-size: 3rem;
}
.fz38 {
  font-size: 3.8rem;
}

/*******************全局颜色*************************/
.col-fff {
  color: #fff;
}
.col-636363 {
  color: #636363;
}
.col-e09e00 {
  color: #e09e00;
}
.col-7e7e7e {
  color: #7e7e7e;
}
.col-1b4175 {
  color: #1b4175;
}
.col-3b3b3b {
  color: #3b3b3b;
}
.col-eb428a {
  color: #eb428a;
}
.col-c1c1c1{
  color:#c1c1c1;
}

/*******************全局背景颜色*************************/
.back-b676af {
  background-color: #b676af;
}
.back-449ecd {
  background-color: #449ecd;
}
.back-5bab60 {
  background-color: #5bab60;
}
.back-c3bd5d {
  background-color: #c3bd5d;
}
.back-4fb5aa {
  background-color: #4fb5aa;
}
.back-da6c6e {
  background-color: #da6c6e;
}
.back-efefef {
  background-color: #efefef;
}
.back-fff{
  background-color: #fff;
}
/*******************全局样式*************************/
.block {
  display: block;
}
.inline-block {
  display: inline-block;
}
.none {
  display: none;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.sclace-half {
  transform: scale(0.5);
}
.text-cen {
  text-align: center;
}
.text-right {
  text-align: right;
}
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.verticalTop {
  vertical-align: top;
}

/*******************   margin   padding   *************************/
.mr5 {
  margin-right: 5px;
}
.mt5 {
  margin-top: 5px;
}
.mb5 {
  margin-bottom: 5px;
}
.pt5 {
  padding-top: 5px;
}
.pl5{
  padding-left:5px;
}
.pb5{
  padding-bottom: 5px;
}
.mt10 {
  margin-top: 10px;
}
.mr10 {
  margin-right: 10px;
}
.ml10 {
  margin-left: 10px;
}
.pt10 {
  padding-top: 10px;
}
.pb10 {
  padding-bottom: 10px;
}
.pl10 {
  padding-left: 10px;
}
.pr10 {
  padding-right: 10px;
}
.plr10{
  padding:0 10px;
}
.verticalTop {
  vertical-align: top;
}
.verticalMiddle{
  vertical-align: middle;
}
.w100 {
  width: 100%;
}
.w33 {
  width: 33.33333333%;
}

/******************* border *************************/
.borB1 {
  border-bottom: 1px solid #efefef
}
.borB2 {
  border-bottom: 2px solid #efefef
}
.borB3 {
  border-bottom: 3px solid #efefef
}
.borB4 {
  border-bottom: 4px solid #efefef
}
.borT1 {
  border-top: 1px solid #efefef
}
.borT2 {
  border-top: 2px solid #efefef
}
.borT4 {
  border-top: 4px solid #efefef
}