.payList{
      padding:10px;
      position: relative;

    }
    .payList .kuan{
      width:96px;
      height:24px;
      padding-left:40px;
      padding-right:15px;
      border-radius: 5px;
      position: relative;
      color:#fff;
      line-height:24px;
      background-size:20px 11px;
    }
    .payList .yuan{
      width:27px;
      height:27px;
      border-radius: 50%;
      position: absolute;
      top:-2px;
      left:-4px;
      z-index: 2;
    }
    .payList .dianchi-white-Level{
      width:20px;
      height:11px;
      position: absolute;
      top:7px;left:7px;
      z-index: 3;
    }
    .payList .price{
      height:24px;
      line-height: 24px;
      padding-left:30px;
    }
    .payList .arrowLeft{
      position: absolute; top:13px;right:5px;
    }